@model WorkSheetMaintain.Models.WSheetSearchArg

@{
    ViewBag.Title = "Index";
}

<h2></h2>

<div class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-md-2">品牌 brand</label>
        <div class="col-md-10">
            <select id="brandid" class="form-control"></select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">系列 famliy</label>
        <div class="col-md-10">
            <select id="familyid" class="form-control"></select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">型號 model</label>
        <div class="col-md-10">
            <select id="modelid" class="form-control"></select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">尺寸 size</label>
        <div class="col-md-10">
            <select id="sizelid" class="form-control"></select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
        </div>
        <dsearchresultiv class="col-md-10">
            <input type="button" id="btnsearch" value="查詢" class="btn btn-default" />
            <input type="button" value="清除" onclick="window.location.href='/WorkSheet/Index'" class="btn btn-default" />
        </dsearchresultiv>
    </div>

    <div id="WorksheetGrid"></div>

</div>

<script type="text/javascript">
    $(document).ready(function () {

        //找到所有select
        var dl = document.querySelectorAll("select");
        dl.forEach(function (userItem) {
            userItem = "#" + userItem.id;
            $(userItem).kendoDropDownList({
                optionLabel: "請選擇",
                dataTextField: "Text",
                dataValueField: "Value",
                dataSource: {
                    transport: {
                        read: {
                            url: "/WorkSheet/GetListData",
                            type: "post",
                            dataType: "json",
                            data: { ListType: userItem }
                        }
                    }
                }
            });
        });

        //$("#btnsearch").click(function (e) {
        //    e.preventdefault();
        //    $("#wsheetgrid").kendogrid({
        //        datasource: {
        //            schema: {
        //                model: {
        //                    fields: {
        //                        brandid: { type: "string" },
        //                        familyid: { type: "string" },
        //                        modelid: { type: "string" },
        //                        sizeid: { type: "string" }
        //                    }
        //                }
        //            },
        //            transport: {
        //                read: {
        //                    url: "/wsheet/getsearchdata",
        //                    type: "post",
        //                    datatype: "json",
        //                    data: {
        //                        brandid: $("#brandid").data("kendodropdownlist").value(),
        //                        familyid: $("#familyid").data("kendodropdownlist").value(),
        //                        modelid: $("#modelid").data("kendodropdownlist").value(),
        //                        sizeid: $("#sizeid").data("kendodropdownlist").value()
        //                    }
        //                }
        //            }
        //        },
        //        columns: [
        //            { field: "brand", title: "品牌" },
        //            { field: "family", title: "系列" },
        //            { field: "model", title: "型號" },
        //            { field: "size", title: "尺寸" },
        //            { field: "brightness", title: "亮度(nits)" },
        //            { field: "oled", title: "是否有oled" },
        //            { field: "touchscreen", title: "是否有觸屏" },
        //            { field: "sku", title: "sku合計" }
        //        ],
        //        sortable: true,
        //        pageable: {
        //            pagesize: 10,
        //            input: true,
        //            numeric: false
        //        }
        //    });
        //});
    });
</script>

